/target
/.vscode
/.zed
/.gram
/.idea
/.helix
submissions_envs
problems/*
!problems/1
!problems/2
!problems/3
!problems/4
!problems/5
!problems/6
!problems/7
.editorconfig
.env
.sqlx
ok
wa
re
tle
mle
ce
.DS_Store
